<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verificación Puebla</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/Frontend/css/estilos.css">
</head>

<body class="bg-white text-gray-800 min-h-screen flex flex-col">
  <!-- Incluir header -->
  <div id="header-container"></div>

  <!-- Contenido principal -->
  <main class="flex-grow mx-auto mt-2 px-6 text-base sm:text-lg">
    <h2 class="text-4xl font-bold mb-4 py-3 px-20 text-[#494848]">Confirmación de cita</h2>
    <p class="mb-2 px-20 text-[#808080]">Estimado(a) "Name" su cita para realizar la Verificación Vehicular ha quedado
      agendada para el "fecha" , a las "hora" horas. Por lo que le reiteramos debe presentarse en el "Centro de atención
      de Cvv" ubicado en "direccion" en la fecha y hora antes mencionadas.</p>
    <p class="mb-2 px-20 text-[#808080] text-center">Le recordamos que el Folio de su Cita es:</p>
    <p class="mb-2 px-20 text-[#808080] font-bold text-4xl text-center text-[#C79B66]">"folio"</p>

    <div class="flex flex-col md:flex-row px-20 gap-8">
      <!-- Sección de Notas -->
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-bold mb-2 py-4 text-[#494848]">Notas importantes</h2>
        <ul class="space-y-2 list-disc list-inside text-[#808080]">
          <li class="styledecor px-6">Llegar al menos 5 minutos antes de la cita.</li>
          <li class="styledecor px-6">Presentarse con original y copia de todos los requisitos.</li>
          <li class="styledecor px-6">Vehículo temperatura normal de operación para realizar la prueba.</li>
          <li class="styledecor px-6">No prenda y apague el vehículo mientras se encuentra en espera.</li>
          <li class="styledecor px-6">Vehículos nuevos realizar prueba de verificación con al menos 300 km recorridos.
          </li>
        </ul>
      </div>

      <!-- Sección de Requisitos -->
      <div class="w-full md:w-1/2">
        <h2 class="text-2xl font-bold mb-2 py-4 text-[#494848]">Requisitos obligatorios</h2>
        <ul class="space-y-2 list-disc list-inside text-[#808080]">
          <li class="styledecor px-6">Folio de la cita impreso</li>
          <li class="styledecor px-6">Identificación oficial vigente (ORIGINAL Y COPIA)</li>
          <li class="styledecor px-6">Tarjeta de circulación (ORIGINAL Y COPIA)</li>
          <li class="styledecor px-6">Papeleta de la verificación del semestre anterior (ORIGINAL)</li>
        </ul>
      </div>
    </div>
    <!-- Botones centrados en la columna derecha -->
    <div class="flex flex-col sm:flex-row justify-center gap-4 mt-4">
      <button class="h-[48px] px-4 bg-[#570e28] text-white text-lg rounded-full shadow">
        Imprimir
      </button>

      <a href="/Frontend/views/agender_cita.html">
        <button class="h-[48px] px-4 bg-[#570e28] text-white text-lg rounded-full shadow">
          Nueva cita
        </button>
      </a>

      <button class="h-[48px] px-4 bg-[#570e28] text-white text-lg rounded-full shadow">
        Cancelar cita
      </button>

    </div>
  </main>

  <div id="footer-container"></div>

  <script>

    function loadPartials() {

      fetch('/Frontend/partials/header.html')
        .then(response => response.text())
        .then(data => {
          document.getElementById('header-container').innerHTML = data;
        });
      fetch('/Frontend/partials/footer.html')
        .then(response => response.text())
        .then(data => {
          document.getElementById('footer-container').innerHTML = data;
        });
    }

    window.onload = loadPartials;
  </script>
</body>

</html>