<hr class="mt-5 h-px my-1 border-2 border-[#f5f5f5]" aria-hidden="true">

<footer class="mt-2 py-4 px-6 flex flex-col md:flex-row justify-between items-center gap-4 text-sm text-[#f5f5f5]"
  role="contentinfo">
  <div class="text-center md:text-left px-20 text-xl font-bold text-[#808080]">
    2025© Secretaría de Medio Ambiente, Desarrollo Sustentable y Ordenamiento Territorial - Gobierno de Puebla
  </div>
  <div class="flex items-center gap-4">
    <img src="/Frontend/img/amor_puebla_footer.svg" alt="Logo Por Amor a Puebla" class="h-10">
    <img src="/Frontend/img/pensar_grande_puebla.svg" alt="Logo Pensar en Grande Puebla" class="h-10">
  </div>
</footer>